<!doctype html>
<html lang="en">

<head>
	<title>SoliPrEs</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/loginstyle.css">

</head>

<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md- text-center mb-1">
					<h2 class="heading-section"><img src="..\img\logo.jpg"></h2>
				</div>				
			</div>
			
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<div class="d-flex">							
							<div class="w-100">
								<h3 class="mb-4">Autentíquese</h3>
							</div>							
							<div class="w-100">
								<p class="social-media d-flex justify-content-end">
								</p>
								
							</div>
						</div>
						<form action="/auth" class="" method="POST">
							<div class="form-group">
								<div class="icon d-flex align-items-center justify-content-center"><i
										class='bx bxs-user-circle bx-sm'></i></div>
								<input type="text" class="form-control" name="usuario"
									placeholder="Usuario">
							</div>
							<div class="form-group">
								<div class="icon d-flex align-items-center justify-content-center"><i
										class='bx bxs-lock-open bx-sm'></i></div>
								<input  type="password" class="form-control rounded-left" name="contrasena"
									placeholder="Contraseña">
							</div>
							<div class="form-group d-flex align-items-center">
								<div class="w-100">
									<p><a href="#">Olvidó su contraseña?</a></p>
								</div>
								<div class="w-100 d-flex justify-content-end">
									<button type="submit" class="btn btn-primary ">Aceptar</button>
								</div>
							</div>
							<div class="form-group mt-4">
								<div class="w-100 text-center">
									<p class="mb-1">No tiene cuenta aún? <a href="#">Contáctenos</a></p>										
								</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a title="Inicio" href="/index" class=" d-flex align-items-center justify-content-center"><i class='bx bxs-chevrons-left bx-sm'></i></a>
									</p>
								</div>								
							</div>							
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="../js/jquery.min.js"></script>
	<script src="../js/popper.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/sweetalert2/dist/sweetalert2.all.min.js"></script>
	

	<% if(typeof alert !="undefined" ) { %>
		<script>
			Swal.fire({
				title: '<%= alertTitle %>',
				text: '<%= alertMessage %>',
				icon: '<%= alertIcon %>',
				showConfirmButton: <%= showConfirmButton %>,
				timer: <%= timer %>
       }).then(() => {
					window.location = '/<%=ruta%>'
				})
		</script>
		<% } %>	

</body>

</html>