<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SoliPrEs</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="shortcut icon" href="img/icons/icon-48x48.png" />
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/aos/aos.css" rel="stylesheet">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">

<style>
  .collapse-logout {
    background: black;
    color: #27a0d7;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    
}

.collapse-body {
    padding:10px;
}
</style>
  <!-- =======================================================
  * Template Name: OnePage - v4.1.0
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/index">SoliPrEs</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/index">Inicio</a></li>
          <li class="dropdown"><a href="#"><span>Servicios</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/crearsolicitud">Solicitudes</a></li>
              <li><a href="/asignarpresupuesto">Presupuesto</a></li>
              <li><a href="#">Estadística</a></li>
             <% if(login && rol === "Administrador") { %> 
              <li class="dropdown"><a href="#"><span>Administrar</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/mostrarusuarios">Usuarios</a></li>
                  <li><a href="/mostrarueb">UEB</a></li>
                  <li><a href="/mostrarproductos">Productos</a></li>
                </ul>
              </li>
              <% } %>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/contactenos">Contáctenos</a></li>
          <% if (login) { %>            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Bienvenido: <strong><%= nombre %></strong> </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="">Preferencias</a></li>             
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/salir">Salir</a></li>
              </ul>
            </li> 
            <% } else { %>
              <li><a class="getstarted scrollto" href="/login">Autenticarse</a></li>
              <% } %>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Bienvenidos a SoliPrEs</h1>
          <h2>Sistema de Solicitudes On-Line</h2>
        </div>
      </div>
      <div class="text-center my-2">
        <% if (login) { %>

          <% } else { %>
            <a href="/login" class="btn-get-started scrollto">Comienza ya!!!</a>
            <% } %>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class='bx bxs-package'></i></div>
            <h4 class="title"><a href="">Productos</a></h4>
            <p class="description">Podrá ver la disponibilidad de los productos a solicitar</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class='bx bxs-dollar-circle'></i></div>
            <h4 class="title"><a href="">Presupuesto</a></h4>
            <p class="description">Podrá consultar el presupuesto asignado</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class='bx bxs-file'></i></div>
            <h4 class="title"><a href="">Solicitudes</a></h4>
            <p class="description">Podrá realizar solicitudes</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class='bx bxs-bar-chart-alt-2'></i></div>
            <h4 class="title"><a href="">Estadísticas</a></h4>
            <p class="description">Podrá visualisar resúmenes y estadísticas</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  
  <!-- End Hero -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Contáctenos</h3>
            <p>
              Grupo de desarrollo <br><br>
              <strong>Telef:</strong> 41664121-114<br>
              <strong>Correo:</strong> informatica2@tabass.co.cu<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Sitios de Interés</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.cubadebate.cu/">Cubadebate</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.bandec.cu/virtualbandec">Virtual Bandec</a>
              </li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.kiosco.bandec.cu/kiosco/">Kiosco</a></li>
              <li><i class="bx bx-chevron-right"></i> <a
                  href="https://www.ecured.cu/EcuRed:Enciclopedia_cubana">EcuRed</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestros servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="http://nube.tabass.co.cu">Datos en la Nube</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.tabass.co.cu/inventarios/index.php">Control de
                  Inventarios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.tabass.co.cu/webpad/">Puesto de Dirección y
                  Análisis</a></li>

            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright justify-content-center">
          &copy; Copyright <strong><span>Grupo de Desarrollo</span></strong>. Todos los derechos reservados.
        </div>

      </div>

    </div>
  </footer><!-- End Footer -->

   <!-- Vendor JS Files -->
    <script src="../vendor/aos/aos.js"></script>    
    
    <script src="../vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../vendor/php-email-form/validate.js"></script>
    <script src="../vendor/purecounter/purecounter.js"></script>
    <script src="../vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../js/jquery.min.js"></script> 
    <script src="../js/bootstrap.min.js"></script> 

    <!-- Template Main JS File -->
    <script src="../js/main.js"></script>
    <script>
    $(document).click(function(e) {
      if (!$(e.target).is('.collapse-logout')) {
          $('.collapse').collapse('hide');	    
        }
    });
    </script>
    <% if(typeof alert !="undefined" ) { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer: <%= timer %>
     }).then(() => {
            window.location = '/<%=ruta%>'
          })
      </script>
      <% } %>
    

</body>

</html>